/**
 * @name Toma awa
 * @version 1
 * @author Toma awa
*/

@import url(https://github.com/Tomaawa123/style.css/blob/main/style.css);
:root {
    background-image: url("https://www.cronicadigital.cl/imagenes/noticias/2014/11/patito.jpg");
    background-size: 1163px;
    background-position-y: -60px;
    background-position-x: 75px;
}

editable .editable {
    width: 300px;
    min-height: 20px;
    border: 1px solid black;
    word-wrap: break-word;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px
}
