/**
 * @name Toma awa
 * @version 1
 * @author Toma awa
*/


:root {
    background-color: aqua;
}

editable .editable {
    width: 300px;
    min-height: 20px;
    border: 1px solid black;
    word-wrap: break-word;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px
}
